/* turma.css */

body { font-family: 'Merriweather', serif; }

.nome { 
        font-size: 1.6em;
        font-weight: 700;
      }

.numero {
         font-size:1.2em;
         font-weight: 300;
        }   

        img{
            max-width:100%;
        }
/* Contentor dos <li> */ 
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

li { 
    width: 95%;
    margin-bottom: 60px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

h2
{
    font-size: 50px;
    text-align: center;
}


body { 
    background-color:cadetblue;
 }

 div.info {
      text-align: start;
    display: flex;
}


div.foto { 
            align-items: center;
            width: 50%;
         }

         div.detalhes{width:16.4%;}

        


        
